
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=Omme5RXEnsNgOhOp9fdjkg==,acuytXCojf9lCCplcuoELg==,L6U8IiSGvHfNNm+eni3Vxw==,45e3/aSl0kiv1zgykge82Q==
API_TOKEN_SALT=ANMtf1Og/+q/zdMOuXAn/A==
ADMIN_JWT_SECRET=gvLrXN2KtCFeHXMSUXrvEA==
TRANSFER_TOKEN_SALT=lsL76LUHW7cQdYjTz9xraA==
ENCRYPTION_KEY=TS3KuMCCWy0Tdx6BVN6Xmw==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=r0Dit+uGYj1w/irkrM5Zvw==
